@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d9f9d9; /* Pastel green background */
  --foreground: #2e7d32; /* Darker green for text */
  --darkerback: #b5d0b5;
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
